input[type=email] {
    width: 70%;
    height: 100px;
     
}
 
input[type=submit]{
    height: 40px;
    width: 35%;
    background-color: lightsalmon;
    color: lightseagreen;
}
input[type=reset]{
    height: 40px;
    width: 35%;
    background-color: lightsalmon;
    color: lightseagreen;
}


h1{
    color:black;
    background-color: blueviolet;
}

*{
    padding: 0;
    margin: 0;
}

form{
background-color:gray;

}